<template>
  <div>
    <div class="float" :key="i" v-for="(c, i) in config">
      <label>{{i}}</label>: <input v-model.number="config[i]" type="number"></br>
    </div>
    <div ref="pixiapp"></div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Navbar from "./navbar.vue";
import Help from "./help.vue";
import { Watch } from "vue-property-decorator";
import { Action, State, Getter } from "vuex-class";
import * as PIXI from "pixi.js";

import { TontrisPiece, Grid, Direction } from '../tontris'

// const io = require("socket.io-client");

@Component({
  components: {},
})
export default class App extends Vue {
  
  config = {
    fps: 5
  }

  mounted() {
    this.setupPixi();
    // var socket = io(5000);
    // socket.on("message", (data: string) => {
    //   console.log(data);
    // });
  }

  setupPixi() {
    let type = "WebGL";
    if (!PIXI.utils.isWebGLSupported()) {
      type = "canvas";
    }
    PIXI.utils.sayHello(type);
    //Create a Pixi Application
    let app = new PIXI.Application({
      width: 512,
      height: 512,
      antialias: true, // default: false
      transparent: false, // default: false
      resolution: 1, // default: 1
    });

    app.renderer.backgroundColor = 	0xFFB6C1;
    app.renderer.view.style.position = "absolute";
    app.renderer.view.style.display = "block";
    app.renderer.autoResize = true;
    app.renderer.resize(window.innerWidth, window.innerHeight);

    const blockSize = 20

    const grid = new Grid(40, 20, blockSize)
    let gridGraphics = grid.generateGraphics()
    app.stage.addChild(gridGraphics)

    let piece = grid.generatePiece()
    let pieceGraphics = piece.generateGraphics()
    app.stage.addChild(pieceGraphics)

    //Add the canvas that Pixi automatically created for you to the HTML document
    this.$refs.pixiapp.append(app.view);

    var stop = false;
    var frameCount = 0;
    let fps = this.config.fps; 
    let now;
    let elapsed;
    const fpsInterval = 1000 / fps;
    let then = Date.now();
    let startTime = then;

    let paused = false

    window.addEventListener("keydown", (key) => {
      switch (key.key) {
        case "w":
        case "ArrowUp":
          piece.rotate()
          app.stage.removeChild(pieceGraphics)
          pieceGraphics = piece.generateGraphics()
          app.stage.addChild(pieceGraphics)
          break;
        case "a":
        case "ArrowLeft":
          if (grid.allowed(piece, Direction.Left)) {
            piece.x--
          }
          break;
        case "s":
        case "ArrowDown":
          if (grid.allowed(piece, Direction.Down)) {
            piece.y++
          }
          break;
        case "d":
        case "ArrowRight":
          if (grid.allowed(piece, Direction.Right)) {
            piece.x++
          }
          break;
        case " ":
        case "Spacebar":
          while(grid.allowed(piece, Direction.Down)) {
            piece.y++
            pieceGraphics.position.x = piece.x * blockSize;
            pieceGraphics.position.y = piece.y * blockSize;
          }
          break;
        case "Escape":
          paused = !paused
          break;
      }
    });

    const animate = () => {
      requestAnimationFrame(animate);
      now = Date.now();
      elapsed = now - then;

      if (elapsed > fpsInterval && !paused) {

        // Get ready for next frame by setting then=now, but also adjust for your
        // specified fpsInterval not being a multiple of RAF's interval (16.7ms)
        then = now - (elapsed % fpsInterval);

        if (grid.update(piece)) {
          piece.y ++
          pieceGraphics.position.x = piece.x * blockSize;
          pieceGraphics.position.y = piece.y * blockSize;
        } else {
          app.stage.removeChild(pieceGraphics)
          app.stage.removeChild(gridGraphics)
          grid.checkRows()
          gridGraphics = grid.generateGraphics()
          app.stage.addChild(gridGraphics)

          piece = grid.generatePiece()
          pieceGraphics = piece.generateGraphics()
          app.stage.addChild(pieceGraphics)
        }

        app.renderer.render(app.stage)

      }
    }
    animate()
  }


}
</script>
<style lang="css">
* {padding: 0; margin: 0}
.float {
  position: absolute;
  z-index: 10;
  background: white;
  right: 10px;
  top: 10px;
}
</style>
